<h1>ようこそBookersへ</h1>  <!--アプリケーション２章 -->
<!-- form_with部分-->
<%= form_with model: Book.new do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>本文</h4>
  <%= f.text_area :body %>
  

  
  <%= f.submit 'start' %>
<% end %>